.DS_Store
/.idea/
/_dev/
/bin/lara*
/bin/readme.md
/bootstrap/cache/*
/config/lara-*
/mods/*
/laracms/core/*
/laracms/themes/*
/node_modules/
/public/assets/
/resources/lang/vendor/lara-*
/resources/views/vendor/lara-*
/storage/app/analytics/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/httpcache/*
/storage/logs/*
/vendor/
/*.sh
/.env
/.env.plesk
!.gitkeep
